
.item{
    display: flex;
    background-color: white;
    box-shadow: 20px 20px 50px grey;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    justify-content: space-between;
}

.sub-item{
    display: flex;
    margin: 8px;
}

.icon{
    width: 128px;
    height: 128px;
    margin: 8px;
    border-radius: 8px;
}
.direct-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    margin-top: 10px;
    font-size: 32px;
}

.sub-title{
    font-size: 24px;
    color: grey;
    margin-bottom: 10px;
}

.orange-text{
    color: rgb(218, 156, 42);
}

.at-20{
    margin-top: 20px;
}

.green-text{
    color: rgba(16, 226, 47, 0.871);
}
